<section>
    <div class="clearfix">
        <img class="pull-left img-avatar img-avatar-lg" src="<%= user.avatar_url %>" alt="<%= user.name %>" />
        <h2 class="pull-left">
            <%= user.name %>
        </h2>
    </div>
    <% if (repos.length > 0) {%>
        <ul id="listOfRepos" class="list-unstyled">
            <% for(var i=0; i<repos.length; i++) {%>
                <li class="<%=i<show_limit?'':'hidden'%>">
                    <article>
                        <h3>
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="<%=repos[i].html_url%>" target="_blank">
                                <%=repos[i].name%>
                            </a>
                            <small>(<%=repos[i].stargazers_count%>)</small>
                        </h3>
                        <p>
                            <%=repos[i].description%>
                        </p>
                    </article>
                </li>
            <%}%>
        </ul>
        <% if (repos.length > show_limit) {%>
             <a href="#" rel="nofollow" id="showAllRepos">show more...</a>
        <% }%>
    <%} else {%>
        <p class="bg-warning"><span class="glyphicon glyphicon-remove"></span> No repositories</p>
    <%}%>
</section>
<script type="text/javascript">
    $(document).on('click', '#showAllRepos', function(ev){
        ev.preventDefault();
        $('#listOfRepos>li.hidden').removeClass('hidden');
        $('#showAllRepos').remove();
    })
</script>
